@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

html {
	background: url(media/mthreeDash.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 10px;
}

body {
	overflow-x: hidden;
}

html, body {
	padding: 0;
	margin: 0;
	color: #ebebeb;
}

table {
	width: 75%;
	border: 1px solid #D5BFCD;
	margin-left: auto;
	margin-right: auto;
	background-color: #807291;
	border-radius: 10px;
	color: #D5BFCD;
	overflow: hidden;
}

.portfolioHeader {
	align: center;
	margin: auto;
}

div.portfolioHeader h1 {
	font-style: italic;
	text-align: center;
}

div.portfolioHeader p {
	text-align: right;
}

#header {
	border-top: 20px solid black;
	text-align: center;
	font-style: italic;
	border-radius: 15px;
	margin: auto;
}

tr:nth-child(even) {
	background-color: #341F4D;
}

#taskbarHeading {
	left: 0;
	font-family: "Courier New", Courier, monospace;
	font-style: italic;
}

td {
	border-top: 1px solid #D5BFCD;
	border-right: 1px solid #D5BFCD;
	width: 100%;
	overflow: hidden;
}

#userTaskbarContainer {
	border-left: solid #9A176C 4px;
	right: 0;
	top: 0;
	position: absolute;
	font-size: 15pt;
	height: 100%;
	width: auto;
}

#userTaskbarContent {
	height: 100%;
	position: relative;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #EAABD1;
	color: #A6C0C5;
}

.top {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	position: relative;
	z-index: 10;
	height: 50px;
	border-bottom: solid #9A176C 4px;
	background-color: #5D003C;
}

.container {
	display: flex;
	overflow: hidden;
	height: 105.1vh;
	margin-top: -100px;
	padding-top: 100px;
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;
}

.left, .right {
	overflow: auto;
	padding: .5rem;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	width: 50%;
}

.left {
	border-right: solid #9A176C 2px;
}

.right {
	border-left: solid #9A176C 2px;
}