@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

html {
	background: url(media/mthreeDash.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	overflow-x: hidden;
}

html, body {
	padding: 0;
	margin: 0;
	color: #ebebeb;
}

table, th, td{
	width:50% ;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	background-color: orange;	
}

#userTaskbarContainer {
	border-left: solid pink 7px;
	right: 0;
	top: 0;
	position: absolute;
	font-size: 15pt;
	height: 100%;
	width: auto;
}

#userTaskbarContent {
	height: 100%;
	position: relative;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

.top {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	position: relative;
	z-index: 10;
	height: 50px;
	border-bottom: solid black 4px;
}

.container {
	display: flex;
	overflow: hidden;
	height: 105.1vh;
	margin-top: -100px;
	padding-top: 100px;
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;
}

.left, .right {
	overflow: auto;
	padding: .5rem;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	width: 50%;
}

.left {
	border-right: solid black 2px;
}

.right {
	border-left: solid black 2px;
}